<!-- begin:: Brand -->
<div class="kt-header__brand kt-grid__item" [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_header_brand">
	<div class="kt-header__brand-logo">
		<a href="javascript:;" routerLink="/demo2">
			<img alt="logo" height="80" src="/assets/media/logo_without_text.svg" class="kt-header__brand-logo-default"/>
			<img alt="logo" height="60" src="/assets/media/logo_without_text.svg" class="kt-header__brand-logo-sticky"/>
		</a>
	</div>
	<div class="kt-header__brand-nav">
	</div>
</div>
<!-- end:: Brand -->
