<!-- <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v1" id="kt_login">
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

		<div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor">
			<div class="kt-grid__item">
				<img width="200" src="/assets/media/icons8_health_book_2.svg" alt="landing">
			</div>
		</div>



		<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1 kt-login__wrapper">
			
		</div>

	</div>
</div> -->

<div style="background-color: #ffffff" fxFlexFill fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="center center">
	<img width="300" src="/assets/media/icons8_health_book_2.svg" alt="landing">
	<div fxFlex="400px" class="text-center" fxLayout="column">
		<router-outlet></router-outlet>
	</div>
</div>
